<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android4you.feature1">
    <application>
        <activity
            android:name=".Feature1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
xx
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>